
    <div class="container-fluid">
      <form action="/trainingStaff/assignTrainer" method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Trainer</label>
          <select
            class="form-control"
            id="exampleFormControlSelect1"
            name="trainerId"
          >
            <% trainers.forEach(function(trainer) { %>
            <option value="<%= trainer.id%>">
              <%= trainer.fullname %>
            </option>
            <% }); %>
          </select>
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Course</label>
          <select
            class="form-control"
            id="exampleFormControlSelect1"
            name="courseId"
          >
            <% courses.forEach(function(course) { %>
            <option value="<%= course.id%>">
              <%= course.name %>
            </option>
            <% }); %>
          </select>
        </div>

        

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    
      
    
