<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <!-- <h6 class="m-0 font-weight-bold text-primary">Trainer's tasks</h6> -->
    </div>
    <div class="card-body">
      <a href="/trainer/updateTrainer/<%= trainerId %>">
        <button type="button" class="btn btn-primary btn-sm">
          <i class="fas fa-plus-circle"></i> Update Profile
        </button> </a
      ><br /><br />
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable4"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              
              <th scope="col">Course</th>
              <th scope="col">View detail</th>
            </tr>
          </thead>
          <tbody>
            <% trainerCourses.forEach(function(trainerCourse) { %>
            <tr>
              
              <td><%= trainerCourse.Course.name %></td>
              <td>
                <div>
                  <a
                    href="/trainer/viewTraineeOnCourse/<%= trainerCourse.courseId%>"
                  >
                    <button type="button" class="btn btn-success btn-sm">
                      <i class="fas fa-user-minus"></i> View
                    </button>
                  </a>
                </div>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>