<div class="container-fluid">
  <form action="/admin/changePassword" method="POST">
    <div class="mb-3" >
      <label for="exampleInputEmail1" class="form-label">Id</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="id"
        value="<%= account.id %>"
        readonly
      />
    </div>
  
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="username"
        value="<%= account.username %>"
        readonly
      />
    </div>
  
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        name="password"
        value="<%= account.password %>"
        required
      />
    </div>
  
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

