<div class="container-fluid">
  <form action="/trainingStaff/addCourseCategory" method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="name"
        required
      />
    </div>
  
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Description</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        name="description"
        required
      />
    </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

